[submodule "basestation-core-indigo"]
	path = basestation-core-indigo
	url = https://github.com/pr2-debs/basestation-core-indigo
[submodule "pr2-installer"]
	path = pr2-installer
	url = https://github.com/pr2-debs/pr2-installer
[submodule "pr2-basestation"]
	path = pr2-basestation
	url = https://github.com/pr2-debs/pr2-basestation
[submodule "pr2-repo-basestation"]
	path = pr2-repo-basestation
	url = https://github.com/pr2-debs/pr2-repo-basestation
